GridBackground
{
	--grid-background-color: var(--bt-colors-grid-light-grey-1);
	--line-color: var(--bt-colors-grid-light-grey-2);
	--thick-line-color: var(--bt-colors-grid-light-grey-3);
	--spacing: var(--bt-metrics-grid-50);
}
